<div class="main-banner">
	<div class="container-lg container-fluid position-relative">
		<div class="row banner-row">
			<div class="order-2 order-lg-2 col-12 col-lg-5 px-0">
				<div class="left-side">
					<div class="img-wrapper-banner ms-auto">
						<img src="@@webRoot/assets/images/photos/tire2.png" alt="main-bg.png">
					</div>
				</div>
			</div>
			<div class="order-1 order-lg-1 col-12 col-lg-7 px-0 ">
				<div class="right-side align-items-start">
					<h1>A Range Of Quality Tires For You To Choose</h1>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, aliquid aspernatur. Minima tempore quod ex hic ipsa
						corrupti doloremque officia maxime esse! Doloremque eum quod laudantium nihil, distinctio temporibus sit. Inventore ullam
						voluptas iusto. Ea laudantium saepe, quae sit quia eos ducimus id totam illo hic tempora aliquid, odit quisquam! Sequi autem
						corrupti odit! Excepturi minima laboriosam reiciendis neque suscipit.</p>
					<button class="btn btn-cta">Selengkapnya</button>
				</div>
			</div>
		</div>
	</div>
</div>