<div class="container">
	<div class="text-center">
		<h2 class="fw-bold">Our Partners</h2>
		<p>The best tire brands</p>
	</div>
	<section class="splide">
		<div class="splide__arrows">
			<button class="splide__arrow splide__arrow--prev d-none"></button>
			<button class="splide__arrow splide__arrow--next d-none"></button>
		</div>
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<div class="bg-white p-3 rounded image-wrapper-slide">
						<img src="@@webRoot/assets/images/icons/brand/accelera.jpg" alt="accelera.jpg">
					</div>
				</li>
				<li class="splide__slide">
					<div class="bg-white p-3 rounded image-wrapper-slide">
						<img src="@@webRoot/assets/images/icons/brand/achilles.jpg" alt="achilles.jpg">
					</div>
				</li>
				<li class="splide__slide">
					<div class="bg-white p-3 rounded image-wrapper-slide">
						<img src="@@webRoot/assets/images/icons/brand/bridgestone.jpg" alt="bridgestone.jpg">
					</div>
				</li>
				<li class="splide__slide">
					<div class="bg-white p-3 rounded image-wrapper-slide">
						<img src="@@webRoot/assets/images/icons/brand/dunlop.jpg" alt="dunlop.jpg">
					</div>
				</li>
				<li class="splide__slide">
					<div class="bg-white p-3 rounded image-wrapper-slide">
						<img src="@@webRoot/assets/images/icons/brand/gt.jpg" alt="gt.jpg">
					</div>
				</li>
				<li class="splide__slide">
					<div class="bg-white p-3 rounded image-wrapper-slide">
						<img src="@@webRoot/assets/images/icons/brand/metrotires.jpg" alt="metrotires.jpg">
					</div>
				</li>
				<li class="splide__slide">
					<div class="bg-white p-3 rounded image-wrapper-slide">
						<img src="@@webRoot/assets/images/icons/brand/westlake.jpg" alt="westlake.jpg">
					</div>
				</li>
				<li class="splide__slide">
					<div class="bg-white p-3 rounded image-wrapper-slide">
						<img src="@@webRoot/assets/images/icons/brand/yokohama.jpg" alt="yokohama.jpg">
					</div>
				</li>
			</ul>
		</div>
	</section>
</div>