<div class="container">
	<div class="row vision pb-3 pb-md-0 pb-xl-0">
		<div class="col-12 col-md-12 col-xl-6">
			<div class="d-flex h-100 flex-column justify-content-center p-3">
				<h2 class="fw-bold">We have 29 years of experience in this field</h2>
				<p>
					PT. Aneka Harapan Jaya was established on 17 November 2017 in Batam Island. It is a Subsidiary of Aneka Ban in which it is located
					in Tanjung Pinang and has been operating since 1993. Through the knowledge in the tire industry, Aneka Ban aims to always provide
					goods and services with the principle of “Best Value For Money” whereby price, quality and endurance is always the main
					consideration in providing a solution. We have been trusted by many consumers from various business lines ranging from
					Construction, Mining, Agriculture, Transportation, FMCG, Oil Company and many more.
				</p>
				<a href="#contact">
					<button class="btn btn-cta-2">More About Us<i class="fa-solid fa-arrow-right ms-2"></i></button>
				</a>
			</div>
		</div>
		<div class="col-12 col-md-12 col-xl-6 px-2 pe-xl-0">
			<div class="d-flex justify-content-center align-items-center h-100">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active" data-bs-interval="2000">
							<div class="image-wrapper m-auto">
								<img src="@@webRoot/assets/images/photos/batamstore.jpg" alt="batamstore.jpg">
							</div>
						</div>
						<div class="carousel-item">
							<div class="image-wrapper m-auto" data-bs-interval="2000">
								<img src="@@webRoot/assets/images/photos/pinangstore.jpg" alt="pinangstore.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>